*.db
*.suo
*.ilk
*.cso
*.zip
*.tlog
*.lastbuildstate
*.pdb
*.obj
*.pch
*.res
*.idb
*.log
*.meta
*.opendb
*.ipch
*.enc
*.rej
*.dll
*.lib
CodeVein_0.1/Tool/ShaderFiles/Shader_Default.fx~HEAD
CodeVein_0.1/Tool/ShaderFiles/Shader_Default.fx~4b846dcba110ad5a2ec6148e5c12ad62af974374
CodeVein_0.1/Client/Resources/Mesh/Player/Player.X
CodeVein_0.1/Client/Resources/Mesh/Hero/Player/Player.X
CodeVein_0.1/Client/Resources/Mesh/Costume_Dynamic/BodyInner_01/BodyInner_01.X
CodeVein_0.1/Client/Resources/Mesh/Costume_Dynamic/BodyInner_02/BodyInner_02.X
CodeVein_0.1/Client/Resources/Mesh/Costume_Dynamic/BodyInner_03/BodyInner_03.X
CodeVein_0.1/Client/Resources/Mesh/Costume_Dynamic/BodyInner_04/BodyInner_04.X
